<html>
<head>
    <title>Libraries - <%= result[0].lib_name %></title>
</head>
<body>
<h1>Libraries</h1>
<ul>
    <li>Library ID: <%= result[0].lib_id%></li>
    <li>Library Name: <%= result[0].lib_name %></li>
    <li>Library Address: <%=result[0].street + ', ' + result[0].zipcode %></li>
</ul>
</body>

</html>