<html>
<head>
    <title>Add New Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form action="/book/insert" method="get">
        Book Title: <input id="title" name="title" type="text" />
        Book Dewey Num: <input id="dewey_num" name="dewey_num" type="text" />
        Book Author First: <input id="author_first" name="author_first" type="text" />
        Book Author Last: <input id="author_last" name="author_last" type="text" />
        Book Genre:  <input id="genre" name="genre" type="text" />
        <br />
        <br />

        <input type="submit" />

    </form>
</body>

</html>