<html>
<head>
    <title>Add New Address</title>
</head>
<body>
    <h1>Add New Address</h1>
    <form action="/address/insert" method="get">
        Street: <input id="street" name="street" type="text" />
        Zipcode: <input id="zipcode" name="zipcode" type="text" />
        <br />
        <br />

        <input type="submit" />

    </form>
</body>

</html>